.span3.movie
  .cardContainer{class: (!movie.poster.file? && !movie.is_a?(Catchup)) && "empty", style: "background-image:url( #{movie.poster_url} )"}
    %h2.movieTitle= movie.source_title
    =# image_tag movie.poster.url if movie.poster.file?
    .cardSlide
      .cardRight
        %h3.scifi= movie.source_genres.try(:first)
        %br
        %h2.movieTitle= movie.source_title
        %p.movieInfo
          = production_details(movie)
          %br
          #{ movie.source_channel } - #{ movie.source_broadcast_time.strftime("%H:%M") }
        %p.movieDescription
          = truncate movie.source_description, length: 100
          %br
          = link_to "IMDB Page »", movie.imdb_url, class: "btn imdbLink", target: "_blank"
    - if movie.imdb_rating.present?
      .cardFix
        .rating= movie.imdb_rating
