.span3.movie
  .cardContainer{class: (!movie.poster.file? && !movie.is_a?(Catchup)) && "empty", style: "background-image:url( #{movie.poster_url} )"}
    %h2.movieTitle= movie.source_title
    =# image_tag movie.poster.url if movie.poster.file?
    .cardSlide
      .cardRight
        %h3.scifi= movie.source_genres.try(:first)
        %br
        %h2.movieTitle= movie.source_title
        %p.movieInfo
          = production_details(movie)
          %br
          = channel_details(movie)
        %p.movieDescription
          = truncate movie.source_description, length: 100
          %br
          - if !movie.is_a?(Catchup) && movie.imdb_url.present?
            = link_to "IMDB Page »", movie.imdb_url, class: "btn imdbLink", target: "_blank"
          - elsif movie.is_a?(Catchup) && movie.content_url.present?
            = link_to "Watch now »", movie.content_url, class: "btn imdbLink", target: "_blank"
    - if movie.imdb_rating.present?
      .cardFix
        .rating= movie.imdb_rating
